{% extends 'base.html' %}
{% block content %}
		
	 <div id="content">
    <!-- Mission Statement -->
  {% if 'buyer_id' in request.session %}
    <!--Showcase-->
     <div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
           Products
          </h2>
        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
          sit amet mauris.</p>
        <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
         {% for v in data %}
 <div class="item">
            <a href="#" class="overlay-wrapper">
                <img src="{{v.file.url}}" alt="Project 1 image" style="width:344px;height:189px"class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">{{v.name}}</span> </span>
                </span>
	
              </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">{{v.name}}</a>
                </h4>
             	<span>Price : {{v.price}}</span><br/>
	<a href="{% url 'viewMore' v.id %}" class="btn btn-more">View More</a>
	<a href="{% url 'addtocart' v.id %}" class="btn btn-more">Add to Cart</a>
	
            </div>
</div>
{% endfor %}          
                
         
       
        </div>
      </div>
    </div>
{% endif %}
{% if 'seller_id' in request.session %}

	<div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
           Orders
          </h2>
        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
          sit amet mauris.</p>
        <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
         {% for v in data %}
 <div class="item">
            <a href="#" class="overlay-wrapper">
                <img src="{{v.product_id.file.url}}" alt="Project 1 image" style="width:344px;height:189px"class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">{{v.product_id.name}}</span> </span>
                </span>
	
              </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">{{v.product_id.name}}</a>
                </h4>
             	<span>Shipping Address : {{v.shippingaddress}}</span><br/>
	<span>Contact Number : {{v.contactnumber}}</span><br/>
	<span>Quantity: {{v.quantity}}</span><br/>
	<span>Date : {{v.date}}</span><br/>
	<span>Total Price: {{v.totalprice}}</span><br/>
	<span>Status: {{v.status}}</span><br/>
	{% if v.status != 'canceled' and v.status != 'Cancel Verified' and v.status != 'Delivered' %}
	 <a href="{% url 'approve' v.id %}" class="btn btn-more">Approve</a>
	<a href="{% url 'reject' v.id %}" class="btn btn-more">Reject</a>
	{% elif v.status == 'canceled' %}
	<a href="{% url 'verifycancel' v.id %}" class="btn btn-more">Verify cancel</a>
	{% endif %}
	{% if v.status == 'Approved' %}
	<a href="{% url 'trackingdetails' v.id %}" class="btn btn-more">Tracking Details</a>
	{% endif %}
            </div>
</div>
{% endfor %}          
                
         
       
        </div>
      </div>
    </div>
{% endif %}
{% if 'admin_id' in request.session %}
	 <div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
            Users
          </h2>
		<table class="table table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>Gender</th>
				<th>Address</th>
				<th>Dob</th>
				<th>Country</th>
				<th>Phone</th>
				<th>Username</th>
				<th>Status</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			</tbody>
			{% for v in data %}
			<tr>
				<td>{{v.name}}</td>
				<td>{{v.gender}}</td>
				<td>{{v.address}}</td>
				<td>{{v.dob}}</td>
				<td>{{v.country}}</td>
				<td>{{v.phone}}</td>
				<td>{{v.username}}</td>
				<td>{{v.status}}</td>
				<td><a href="{% url 'rejectUser' v.id %}">Reject</a></td>
				<td><a href="{% url 'approveUser' v.id %}">Approve</a></td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	</div>
	</div>
{% endif %}

    <!-- Services -->
 
       
-->
    <div class="block block-pd-sm block-bg-grey-dark block-bg-overlay block-bg-overlay-6 text-center" data-block-bg-img="https://picjumbo.imgix.net/HNCK1088.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
      <h2 class="h-xlg h1 m-a-0">
          <span data-counter-up>100,000,0</span>s
        </h2>
      <h3 class="h-lg m-t-0 m-b-lg">
          Of Happy Customers!
        </h3>
      <p>
        <a href="#" class="btn btn-more btn-lg i-right">Join them today! <i class="fa fa-angle-right"></i></a>
      </p>
    </div>
    <!--Customer testimonial & Latest Blog posts-->
    <div class="testimonials block-contained">
      <div class="row">
        <!--Customer testimonial-->
        <div class="col-md-6 m-b-lg">
          <h3 class="block-title">
              Testimonials
            </h3>
          <blockquote>
            <p>Our productivity &amp; sales are up! Customers are happy &amp; we couldn't be happier with this product!</p>
            <img src="/static/web/img/misc/charles-quote.png" alt="Charles Spencer Chaplin">
            <small>
                <strong>Charles Chaplin</strong>
                <br>
                British comic actor
              </small>
          </blockquote>
        </div>
        <!--Latest Blog posts-->
       
  <!-- /content -->
  <!-- Call out block -->
  <div class="block block-pd-sm block-bg-primary">
    <div class="container">
      <div class="row">
        <h3 class="col-md-4">
            Some of our Clients
          </h3>
        <div class="col-md-8">
          <div class="row">
            <!--Client logos should be within a 120px wide by 60px height image canvas-->
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 1">
                  <img src="/static/web/img/clients/client1.png" alt="Client 1 logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 2">
                  <img src="/static/web/img/clients/client2.png" alt="Client 2 logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 3">
                  <img src="/static/web/img/clients/client3.png" alt="Client 3 logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 4">
                  <img src="/static/web/img/clients/client4.png" alt="Client 4 logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 5">
                  <img src="/static/web/img/clients/client5.png" alt="Client 5 logo" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-6 col-md-2">
              <a href="https://bootstrapmade.com" title="Client 6">
                  <img src="/static/web/img/clients/client6.png" alt="Client 6 logo" class="img-responsive">
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    </div>
 </div>
{% endblock %}