{% extends 'base.html '%}
{% block content %}
 
 <div class="showcase block block-border-bottom-grey">
      <div class="container">
        <h2 class="block-title">
           Products
          </h2>
        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a
          sit amet mauris.</p>
        <div class="item-carousel" data-toggle="owlcarousel" data-owlcarousel-settings='{"items":4, "pagination":false, "navigation":true, "itemsScaleUp":true}'>
         {% for v in data %}
 <div class="item">
            <a href="#" class="overlay-wrapper">
                <img src="{{v.file.url}}" alt="Project 1 image" style="width:344px;height:189px"class="img-responsive underlay">
                <span class="overlay">
                  <span class="overlay-content"> <span class="h4">{{v.name}}</span> </span>
                </span>
	
              </a>
            <div class="item-details bg-noise">
              <h4 class="item-title">
                  <a href="#">{{v.name}}</a>
                </h4>
             	<span>Price : {{v.price}}</span><br/>
	<a href="{% url 'viewMore' v.id %}" class="btn btn-more">View More</a>
	<a href="{% url 'addtocart' v.id %}" class="btn btn-more">Add to Cart</a>
	
            </div>
</div>
{% endfor %}          
                
         
       
        </div>
      </div>
    </div>

{% endblock %}